<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header" translate="views.users.setting.Settings"></h1>
    </div>
    <!-- /.col-lg-12 -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading" translate="views.users.setting.SettingsPanel">
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div ng-translate-language-select></div>
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>
