<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header" translate="views.users.view.User" translate-value-name="{{user.username}}"></h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading" translate="views.users.view.UserDetail">
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <div ng-show="update_message" class="alert alert-success">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        {{update_message}}
                    </div>
                    <table class="table table-hover">
                        <tbody>
                        <tr>
                            <td class="col-xs-4" translate="views.users.view.ID"></td>
                            <td class="col-xs-8">{{user.id}}</td>
                        </tr>
                        <tr>
                            <td translate="views.users.view.Username"></td>
                            <td>{{user.username}}</td>
                        </tr>
                        <tr>
                            <td translate="views.users.view.Firstname"></td>
                            <td><a href="#" editable-text="user.firstname" onaftersave="updateUser()">{{user.firstname || 'empty'}}</a></td>
                        </tr>
                        <tr>
                            <td translate="views.users.view.Lastname"></td>
                            <td><a href="#" editable-text="user.lastname" onaftersave="updateUser()">{{user.lastname || 'empty'}}</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <div class="clearfix"></div>
</div>
