link(rel='stylesheet', href='/uml/css/nomnoml.css')
#uml_container.wrap
	canvas#canvas
script(src="/uml/js/underscore.js")
script(src="/uml/js/underscore.skanaar.js")
script(src="/uml/js/dagre.min.js")
script(src="/uml/js/skanaar.canvas.js")
script(src="/uml/js/vector.js")
script(src="/uml/js/nomnoml.jison.js")
script(src="/uml/js/nomnoml.parser.js")
script(src="/uml/js/nomnoml.layouter.js")
script(src="/uml/js/nomnoml.renderer.js")
script(src="/uml/js/nomnoml.app.js")
