<!DOCTYPE html>
<html>
  <head>
    <title>Emerald CI</title>
    <link href='//fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/application.css" rel="stylesheet" media="screen">
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8" />
    <style>
      body {
        background-color: black; color: white;
      }
      .bold {
        font-weight: bold;
      }
      .black {
        color: black;
      }
      .red {
        color: red;
      }
      .green {
        color: green;
      }
      .yellow {
        color: yellow;
      }
      .blue {
        color: blue;
      }
      .magenta {
        color: magenta;
      }
      .cyan {
        color: cyan;
      }
      .white {
        color: white;
      }
      .grey {
        color: grey;
      }
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
