<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header" translate="views.app.deploy.App" translate-value-name="{{app.appName}}"></h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">Web app 1</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 has-error">Container 1 <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span></div>
                </div>
                <div class="row">
                    <div class="col-md-12 has-success">Container 2 <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span></div>
                </div>
                <div class="row">
                    <div class="col-md-12 has-success">Container 3 <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span></div>
                </div>
                <div class="row">
                    <div class="col-md-12 has-success">Container 4 <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">Web app 2</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 has-error">Container 1 <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span></div>
                </div>
                <div class="row">
                    <div class="col-md-12 has-error">Container 2 <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span></div>
                </div>
                <div class="row">
                    <div class="col-md-12 has-error">Container 3 <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">Web app 3</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 has-error">Container 1 <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span></div>
                </div>
                <div class="row">
                    <div class="col-md-12 has-success">Container 2 <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
