doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title= title
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    script(src='/js/Chart.js')
  body
    nav(class='navbar navbar-inverse navbar-fixed-top')
      div(class='container')
        div(class='navbar-header')
          button(type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#navbar' aria-expanded='false' aria-controls='navbar')
            span(class='sr-only') Toggle nativation
            span(class='icon-bar')
            span(class='icon-bar')
            span(class='icon-bar')
          a(class='navbar-brand' href='#') #{title}
        div(id='navbar' class='collapse navbar-collapse')
          ul(class='nav navbar-nav')
            li(class='active')
              a(href='#') Containers
            li
              a(href='#') Hosts
            li
              a(href='#') Registry
            li
              a(href='#') About
    br
    br
    block content
    script(src='/js/bootstrap.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
